DATASET_PATH="../dataset/"
CHECKPOINT_PATH="best_model.pkl"
DEVICE="cuda" | "mps" | "cpu"

USE_COLAB=true | false
COLAB_DATASET_ZIP_PATH="path"
COLAB_DATASET_TARGET_PATH="path"
GITHUB_REPO_URL="https://github.com/Bg735/MLVM_Project_2.7_25-26.git"
GITHUB_REPO_DIR="/content/MLVM_proj"